In [1]:
import pandas as pd
import numpy as np
import re # используется для кодирования Балконов, там числа со строками и знаками вперемешку

In [2]:
#Reading CSV file
df = pd.read_csv('~/Desktop/ds_bootcamp/week3/project/data/_data.csv')
pd.set_option('display.max_columns', None)

In [3]:
#Deleting Unnecessary columns from data frame
df = df.drop(['Unnamed: 0', 'Тип'], axis=1)
df = df.drop(['Парковка'], axis=1) # Убераем парковку
df = df.drop(['Телефоны'], axis=1) # Убераем телефоны
df = df.drop(['Площадь комнат, м2'], axis=1) # Убераем площади комнат

In [4]:
#Renaming columns from Russian to English
df = df.rename(columns={'ID  объявления': 'post_id', 'Количество комнат': 'number_of_rooms', 
                            'Метро': 'metro', 'Адрес': 'address', 'Площадь, м2': 'area_m2', 'Дом': 'apt_short_desc'})

In [5]:
#Replacing nan values by the most frequent element 
df['number_of_rooms'] = df['number_of_rooms'].replace(to_replace=[None], value=df.loc[:, 'number_of_rooms'].mode()[0])

In [6]:
#Getting the number of items in list by region
lst_add = [address.split(', ')[0] for address in df['address']]
series_add = pd.Series(lst_add)
unique_counts = series_add.value_counts()
unique_counts

Москва                19737
Санкт-Петербург        3028
Краснодарский край      603
Name: count, dtype: int64

In [7]:
#Getting indexes of the rows which are not in Moscow
indexes_not_moscow = [i for i, address in enumerate(lst_add) if address != 'Москва']
indexes_not_moscow_list = indexes_not_moscow
indexes_not_moscow_list

[884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 2970,
 2971,
 2972,
 2973,
 2974,
 2975,
 2976,
 2977,
 2978,
 2979,
 2980,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3058,
 3059,
 3060,
 3061,
 3062,
 3063,
 3064,
 3065,
 3066,
 3067,
 3068,
 3069,
 3070,
 3071,
 3072,
 3073,
 3074,
 3075,
 3076,
 3077,
 3078,
 3079,
 3080,
 3081,
 3082,
 3083,
 3084,
 3085,
 3086,
 3087,
 3088,
 3089,
 3090,
 3091,
 3092,
 3093,
 3094,
 3095,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3103,
 3104,
 3105,
 3106,
 3107,
 3108,
 3109,
 3110,
 3111,
 3112,
 3113,
 3114,
 3115,
 3116,
 3117,
 3118,
 3119,
 3120,
 3121,
 3122,
 3123,
 3124,
 3125,
 3126,
 3127,
 3128,
 3129,
 3130,
 3131,
 3132,
 3133,
 3134,
 3135,
 3136,
 3137,
 3138,
 3139,
 3140,
 3141,
 3142,
 3143,
 3144,
 3145,
 3146,
 3147,
 3148,
 3149,
 3150,
 3151,
 3152,
 3153,
 3154,
 3155,
 3156,
 3157,
 3158,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3166,
 3167,
 3168,
 3169,
 6756,
 6757,
 6758,
 6759,
 6760,
 6761,
 6762,
 6763,
 6764,
 6765,
 6766,
 6767,
 6768,
 6769,
 6770,
 6771,
 6772,
 6773,
 6774,
 6775,
 6776,
 6777,
 6778,
 6779,
 6780,
 6781,
 6782,
 6783,
 6784,
 6785,
 6786,
 6787,
 6788,
 6789,
 6790,
 6791,
 6792,
 6793,
 6794,
 6795,
 6796,
 6797,
 6798,
 6799,
 6800,
 6801,
 6802,
 6803,
 6804,
 6805,
 6806,
 6807,
 6808,
 6809,
 6810,
 6811,
 9901,
 9902,
 9903,
 9904,
 9905,
 9906,
 9907,
 9908,
 9909,
 9910,
 9911,
 9912,
 9913,
 9914,
 9915,
 9916,
 9917,
 9918,
 9919,
 9920,
 9921,
 9922,
 9923,
 9924,
 9925,
 9926,
 9927,
 9928,
 9929,
 9930,
 9931,
 9932,
 9933,
 9934,
 9935,
 9936,
 9937,
 9938,
 9939,
 9940,
 9941,
 9942,
 9943,
 9944,
 9945,
 9946,
 9947,
 9948,
 9949,
 9950,
 9951,
 9952,
 9953,
 9954,
 9955,
 9956,
 9957,
 9958,
 9959,
 9960,
 9961,
 9962,
 9963,
 9964,
 9965,
 9966,
 9967,
 9968,
 9969,
 9970,
 9971,
 9972,
 9973,
 9974,
 9975,
 9976,
 9977,
 9978,
 9979,
 9980,
 9981,
 9982,
 9983,
 9984,
 9985,
 9986,
 9987,
 9988,
 9989,
 9990,
 9991,
 9992,
 9993,
 9994,
 9995,
 9996,
 9997,
 9998,
 9999,
 10000,
 10001,
 10002,
 10003,
 10004,
 10005,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10012,
 10013,
 10014,
 10015,
 10016,
 10017,
 10018,
 10019,
 10020,
 10021,
 10022,
 10023,
 10024,
 10025,
 10026,
 10027,
 10028,
 10029,
 10030,
 10031,
 10032,
 10033,
 10034,
 10035,
 10036,
 10037,
 10038,
 10039,
 10040,
 10041,
 10042,
 10043,
 10044,
 10045,
 10046,
 10047,
 10048,
 10049,
 10050,
 10051,
 10052,
 10053,
 10054,
 10055,
 10056,
 10057,
 10058,
 10059,
 10060,
 10061,
 10062,
 10063,
 10064,
 10065,
 10066,
 10067,
 10068,
 10069,
 10070,
 10071,
 10072,
 10073,
 10074,
 10075,
 10076,
 10077,
 10078,
 10079,
 10080,
 10081,
 10082,
 10083,
 10084,
 10085,
 10086,
 10087,
 10088,
 10089,
 10090,
 10091,
 10092,
 10093,
 10094,
 10095,
 10096,
 10097,
 10098,
 10099,
 10100,
 10101,
 10102,
 10103,
 10104,
 10105,
 10106,
 10107,
 10108,
 10109,
 10110,
 10111,
 10112,
 10113,
 10114,
 10115,
 10116,
 10117,
 10118,
 10119,
 10120,
 10121,
 10122,
 10123,
 10124,
 10125,
 10126,
 10127,
 10128,
 10129,
 10130,
 10131,
 10132,
 10133,
 10134,
 10135,
 10136,
 10137,
 10138,
 10139,
 10140,
 10141,
 10142,
 10143,
 10144,
 10145,
 10146,
 10147,
 10148,
 10149,
 10150,
 10151,
 10152,
 10153,
 10154,
 10155,
 10156,
 10157,
 10158,
 10159,
 10160,
 10161,
 10162,
 10163,
 10164,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10174,
 10175,
 10176,
 10177,
 10178,
 10179,
 10180,
 10181,
 10182,
 10183,
 10184,
 10185,
 10186,
 10187,
 10188,
 10189,
 10190,
 10191,
 10192,
 10193,
 10194,
 10195,
 10196,
 10197,
 10198,
 10199,
 10200,
 10201,
 10202,
 10203,
 10204,
 10205,
 10206,
 10207,
 10208,
 10209,
 10210,
 10211,
 10212,
 10213,
 10214,
 10215,
 10216,
 10217,
 10218,
 10219,
 10220,
 10221,
 10222,
 10223,
 10224,
 10225,
 10226,
 10227,
 10228,
 10229,
 10230,
 10231,
 10232,
 10233,
 10234,
 10235,
 10236,
 10237,
 10238,
 10239,
 10240,
 10241,
 10242,
 10243,
 10244,
 ...]

In [8]:
#Replacing nan values by the most frequent element 
df['number_of_rooms'] = df['number_of_rooms'].replace(to_replace=[None], value=df.loc[:, 'number_of_rooms'].mode()[0])

In [9]:
#Creating 3 new features in data frame
df.insert(2, 'isolated_apt', 0)
df.insert(3, 'adjacent_apt', 0)
df.insert(4, 'iso_adj_apt', 0)

In [10]:
#Filling in 3 new columns by 1 if Apt has specific features related to columns 
splited_list_of_num_rooms = [i.split(', ') for i in df['number_of_rooms']]

for i in range(len(splited_list_of_num_rooms)):
    if splited_list_of_num_rooms[i][0].isdigit():
        df.loc[i, 'number_of_rooms'] = splited_list_of_num_rooms[i][0]
        
        if len(splited_list_of_num_rooms[i]) > 1:
            if splited_list_of_num_rooms[i][1] == 'Изолированная':
                df.loc[i, 'isolated_apt'] = 1
            
            if splited_list_of_num_rooms[i][1] == 'Смежная':
                df.loc[i, 'adjacent_apt'] = 1
            
            if splited_list_of_num_rooms[i][1] == 'Оба варианта':
                df.loc[i, 'iso_adj_apt'] = 1

In [11]:
#Replacing nan values by the most frequent element 
df['metro'] = df['metro'].replace(to_replace=[None], value=df.loc[:, 'metro'].mode()[0])

In [12]:
#Adding new columns related to Metro feature
df.insert(6, 'time_to_get_metro', 0)
df.insert(7, 'by_car', 0)
df.insert(8, 'by_walk', 0)

In [13]:
#Check uniqueness of transport type and create lists for future distribution
splited_list_of_metro = [metro.split(' (') for metro in df['metro']]
lst_type_of_transport_metro = []
lst_time_to_get_metro = []
lst_name_of_metro = []
for i in splited_list_of_metro:
    lst_type_of_transport_metro.append(i[1].split()[-1].rstrip(')'))
    lst_time_to_get_metro.append(i[1].split()[0])
    lst_name_of_metro.append(i[0])
    
unique_lst = pd.Series(lst_type_of_transport_metro).unique()
unique_lst

array(['пешком', 'машине'], dtype=object)

In [14]:
#Filling in 2 new columns by 1 if Metro has specific features related to columns
#And adding amount of min to get metro in 1 column
for i in range(len(splited_list_of_metro)):
    df.loc[i, 'metro'] = lst_name_of_metro[i]
    df.loc[i, 'time_to_get_metro'] = lst_time_to_get_metro[i]
    
    if lst_type_of_transport_metro[i] == 'пешком':
        df.loc[i, 'by_walk'] = 1
    else:
        df.loc[i, 'by_car'] = 1

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/3928166692.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, 'time_to_get_metro'] = lst_time_to_get_metro[i]

In [15]:
#Creating lists of disctricts with related to them metro stations 
VAO = [
    'Авиамоторная',
    'Андроновка',
    'Белокаменная',
    'Бульвар Рокоссовского',
    'Измайлово',
    'Измайловская',
    'Локомотив',
    'Лухмановская',
    'Новогиреево',
    'Новокосино',
    'Партизанская',
    'Первомайская',
    'Перово',
    'Преображенская площадь',
    'Семеновская',
    'Соколиная Гора',
    'Сокольники',
    'Улица Дмитриевского',
    'Черкизовская',
    'Шоссе Энтузиастов',
    'Щелковская',
    'Электрозаводская',
    'Стромынка',
]

ZAO = [
    'Багратионовская',
    'Боровское шоссе',
    'Киевская',
    'Кропоткинская',
    'Крылатское',
    'Кунцевская',
    'Кутузовская',
    'Ломоносовский проспект',
    'Минская',
    'Мичуринский проспект',
    'Молодежная',
    'Новопеределкино',
    'Озёрная',
    'Озерная',
    'Парк Победы',
    'Пионерская',
    'Проспект Вернадского',
    'Рабочий Посёлок',
    'Рабочий поселок',
    'Рабочий посёлок',
    'Рабочий Поселок',
    'Раменки',
    'Сетунь',
    'Славянский бульвар',
    'Славянский бульвар',
    'Солнцево',
    'Студенческая',
    'Тропарёво',
    'Тропарево',
    'Филевский парк',
    'Фили',
    'Фили',
    'Юго-Западная',
    'Аминьевское шоссе',
    'Давыдково',
    'Дорогомиловская',
    'Кунцевская',
    'Проспект Вернадского',
    'Улица Новаторов',
]

NAO = [
    'Говорово',
    'Коммунарка',
    'Ольховая',
    'Остафьево',
    'Прокшино',
    'Рассказовка',
    'Румянцево',
    'Саларьево',
    'Филатов Луг',
    'Щербинка',
]

SAO = [
    'Аэропорт',
    'Балтийская',
    'Беговая',
    'Беломорская',
    'Бескудниково',
    'Верхние Лихоборы',
    'Водный стадион',
    'Войковская',
    'Гражданская',
    'Дегунино',
    'Динамо',
    'Дмитровская',
    'Зорге',
    'Коптево',
    'Красный Балтиец',
    'Лихоборы',
    'Марк',
    'Окружная',
    'Панфиловская',
    'Петровский парк',
    'Петровский Парк',
    'Петровско-Разумовская',
    'Покровское-Стрешнево',
    'Полежаевская',
    'Речной вокзал',
    'Савеловская',
    'Сокол',
    'Стрешнево',
    'Тимирязевская',
    'Ховрино',
    'Хорошёво',
    'Хорошево',
    'Хорошёвская',
    'Хорошевская',
    'ЦСКА',
    'Беломорская улица',
    'Петровский парк',
    'Петровско-Разумовская',
]

SVAO = [
    'Алексеевская',
    'Алтуфьево',
    'Бабушкинская',
    'Бибирево',
    'Ботанический сад',
    'Бутырская',
    'ВДНХ',
    'Владыкино',
    'Выставочный центр',
    'Лианозово',
    'Марьина роща',
    'Медведково',
    'Окружная',
    'Отрадное',
    'Ростокино',
    'Савеловская',
    'Свиблово',
    'Телецентр',
    'Улица Академика Королёва',
    'Улица академика королева',
    'Улица Академика королева',
    'Улица академика Королева',
    'Улица академика королёва',
    'Улица Академика королёва',
    'Улица академика Королёва',
    'Улица Милашенкова',
    'Улица Сергея Эйзенштейна',
    'Фонвизинская',
    'Бутырская',
    'Фонвизинская',
    'Шереметьевская',
]

SZAO = [
    'Волоколамская',
    'Митино',
    'Мнёвники',
    'Народное Ополчение',
    'Народное ополчение',
    'Октябрьское поле',
    'Пенягино',
    'Планерная',
    'Пятницкое шоссе',
    'Спартак',
    'Строгино',
    'Сходненская',
    'Трикотажная',
    'Тушинская',
    'Щукинская',
    'Нижние Мневники',
    'Терехово',
    'Улица Народного ополчения',
]

CAO = [
    'Александровский сад',
    'Арбатская',
    'Баррикадная',
    'Бауманская',
    'Беговая',
    'Белорусская',
    'Библиотека имени Ленина',
    'Боровицкая',
    'Воробьевы горы',
    'Выставочная',
    'Деловой центр',
    'Добрынинская',
    'Достоевская',
    'Каланчёвская',
    'Китай-город',
    'Комсомольская',
    'Краснопресненская',
    'Красносельская',
    'Красные ворота',
    'Крестьянская застава',
    'Кузнецкий мост',
    'Курская',
    'Лубянка',
    'Лужники',
    'Марксистская',
    'Маяковская',
    'Международная',
    'Менделеевская',
    'Новокузнецкая',
    'Новослободская',
    'Октябрьская',
    'Охотный ряд',
    'Павелецкая',
    'Парк Культуры',
    'Площадь Ильича',
    'Площадь Революции',
    'Полянка',
    'Пролетарская',
    'Проспект Мира',
    'Пушкинская',
    'Рижская',
    'Римская',
    'Серпуховская',
    'Смоленская',
    'Смоленская',
    'Спортивная',
    'Сретенский бульвар',
    'Сухаревская',
    'Таганская',
    'Тверская',
    'Театральная',
    'Тестовская',
    'Третьяковская',
    'Трубная',
    'Тургеневская',
    'Улицаа 1905 года',
    'Фрунзенская',
    'Цветной бульвар',
    'Чеховская',
    'Чистые пруды',
    'Чкаловская',
    'Шелепиха',
    'Электрозаводская',
    'Волхонка',
    'Плющиха',
    'Ржевская',
    'Рубцовская',
]

UVAO = [
    'Авиамоторная',
    'Братиславская',
    'Волгоградский проспект',
    'Волжская',
    'Выхино',
    'Депо',
    'Дубровка',
    'Жулебино',
    'Калитники',
    'Кожуховская',
    'Косино',
    'Котельники',
    'Кубанская',
    'Кузьминки',
    'Курьяново',
    'Лермонтовский проспект',
    'Лефортово',
    'Люблино',
    'Марьино',
    'Москва-Товарная',
    'Некрасовка',
    'Нижегородская',
    'Новохохловская',
    'Новохохловская',
    'Окская',
    'Перерва',
    'Печатники',
    'Рязанский проспект',
    'Стахановская',
    'Текстильщики',
    'Текстильщики',
    'Угрешская',
    'Юго-Восточная',
    'Печатники',
    'Текстильщики',
]

UZAO = [
    'Академическая',
    'Беляево',
    'Битцевский парк',
    'Бульвар адмирала Ушакова',
    'Бульвар Адмирала ушакова',
    'Бульвар адмирала ушакова',
    'Бульвар Дмитрия Донского',
    'Бунинская Аллея',
    'Бунинская аллея',
    'Бутово',
    'Калужская',
    'Каховская',
    'Коньково',
    'Нахимовский Проспект',
    'Нахимовский проспект',
    'Новоясеневская',
    'Новые Черёмушки',
    'Новые Черемушки',
    'Новые черёмушки',
    'Площадь Гагарина',
    'Профсоюзная',
    'Севастопольская',
    'Зюзино',
    'Теплый стан',
    'Теплый Стан',
    'Улица Горчакова',
    'Улица Скобелевская',
    'Улица Старокачаловская',
    'Университет',
    'Ясенево',
    'Воронцовская',
    'Каховская',
    'Севастопольский проспект',
]

UAO = [
    'Автозаводская',
    'Автозаводская',
    'Алма-Атинская',
    'Аннино',
    'Борисово',
    'Варшавская',
    'Верхние Котлы',
    'Домодедовская',
    'ЗИЛ',
    'Зябликово',
    'Кантемировская',
    'Каширская',
    'Коломенская',
    'Красногвардейская',
    'Красный Строитель',
    'Крымская',
    'Ленинский проспект',
    'Лесопарковая',
    'Москворечье',
    'Нагатинская',
    'Нагорная',
    'Орехово',
    'Покровское',
    'Пражская',
    'Технопарк',
    'Тульская',
    'Улица академика Янгеля',
    'Царицыно',
    'Царицыно',
    'Чертановская',
    'Шаболовская',
    'Шипиловская',
    'Южная',
    'Каширская',
    'Кленовый бульвар',
]

RAYONI = [
    'Аникеевка',
    'Баковка',
    'Битца',
    'Водники',
    'Долгопрудная',
    'Красногорская',
    'Лобня',
    'Мякинино',
    'мякинино',
    'Нахабино',
    'Немчиновка',
    'Новодачная',
    'Одинцово',
    'Опалиха',
    'Павшино',
    'Подольск',
    'Силикатная',
    'Сколково',
    'Хлебниково',
    'Шереметьевская',
]

In [16]:
#Creating dictionary to use it in function to distribute data into columns
region_map = {
    'vao': VAO,
    'zao': ZAO,
    'nao': NAO,
    'sao': SAO,
    'svao': SVAO,
    'szao': SZAO,
    'cao': CAO,
    'uvao': UVAO,
    'uzao': UZAO,
    'uao': UAO,
    'rayoni': RAYONI,
}

In [17]:
#Converting metro name in column to lowercase
df['metro'] = df['metro'].apply(lambda x: x.split()[-1].lower().strip())

In [18]:
#Converting metro names in districts to lowercase
for key in list(region_map.keys()):
    region_map[key.lower()] = [metro.lower() for metro in region_map.pop(key)]

In [19]:
#Function which distributes data to columns respectively 
for region, metro_list in region_map.items():
    df[region] = df['metro'].apply(lambda x: 1 if x in metro_list else 0)

In [20]:
df['metro']

0        смоленская
1        смоленская
2        смоленская
3        смоленская
4         арбатская
            ...
23363      говорово
23364      солнцево
23365      солнцево
23366      солнцево
23367      говорово
Name: metro, Length: 23368, dtype: object

In [21]:
df['vao'].nunique()

2

In [22]:
#Updating dataframe and deleting metro and address columns, because now we are using districts
df = df.drop('metro', axis=1)
df = df.drop('address', axis=1)

In [23]:
#Replacing all type of areas in area_m2 column by total area
df['area_m2'] = df['area_m2'].apply(lambda x: x.split('/')[0])

In [24]:
#Creating new columns for apt type
df.insert(21, 'monolithic_apt', 0)
df.insert(22, 'monolithic_brick_apt', 0)
df.insert(23, 'panel_apt', 0)
df.insert(24, 'stalin_apt', 0)
df.insert(25, 'brick_apt', 0)
df.insert(26, 'old_stock_apt', 0)
df.insert(27, 'block_apt', 0)
df.insert(28, 'wooden_apt', 0)
df.insert(29, 'aerated_concrete_block_apt', 0)
df.insert(30, 'shield_apt', 0)

In [25]:
#Distributing data to the new columns
splited_list_of_apt_desc = [i.split(', ') for i in df['apt_short_desc']]
lst_of_type_of_apt = []
lst_of_floor_of_apt = []

for i in range(len(splited_list_of_apt_desc)):
    lst_of_floor_of_apt.append(splited_list_of_apt_desc[i][0])

    if len(splited_list_of_apt_desc[i]) > 1:
        lst_of_type_of_apt.append(splited_list_of_apt_desc[i][1])

In [26]:
#continue of previous step
for i in range(len(lst_of_type_of_apt)):
    if lst_of_type_of_apt[i] == 'Монолитный':
        df.loc[i, 'monolithic_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Монолитно-кирпичный':
        df.loc[i, 'monolithic_brick_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Панельный':
        df.loc[i, 'panel_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Сталинский':
        df.loc[i, 'stalin_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Кирпичный':
        df.loc[i, 'brick_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'старый фонд':
        df.loc[i, 'old_stock_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Блочный':
        df.loc[i, 'block_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Деревянный':
        df.loc[i, 'wooden_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Газобетонный блок':
        df.loc[i, 'aerated_concrete_block_apt'] = 1
            
    elif lst_of_type_of_apt[i] == 'Щитовой':
        df.loc[i, 'shield_apt'] = 1

In [27]:
#Taking out the floor of the apt and placing into list
sorted_lst_of_floor_of_apt = [i.split('/')[0] for i in lst_of_floor_of_apt]

In [28]:
df.insert(31, 'apt_floor', 0)

In [29]:
for i in range(len(sorted_lst_of_floor_of_apt)):
    df.loc[i, 'apt_floor'] = sorted_lst_of_floor_of_apt[i]

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/717303396.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, 'apt_floor'] = sorted_lst_of_floor_of_apt[i]

In [30]:
#Rid of apt_short_desc column
df = df.drop('apt_short_desc', axis=1)

In [31]:
#Looking for string None and replacing it by mode of the column
columns_to_process = ['number_of_rooms', 'time_to_get_metro', 'area_m2', 'apt_floor']

def replace_none_with_mode(df, columns):
    for column in columns:
        # Convert column to numeric, coerce errors to NaN
        df[column] = pd.to_numeric(df[column], errors='coerce')
        # Calculate the mode
        mode_value = df[column].mode()[0]
        # Replace 'None' with the mode
        df[column].fillna(mode_value, inplace=True)
    return df

df = replace_none_with_mode(df, columns_to_process)

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/2663852186.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)
/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/2663852186.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)

In [32]:
#Converting columns to float
columns_to_convert = ['number_of_rooms', 'isolated_apt', 'adjacent_apt', 'iso_adj_apt',
                      'vao', 'zao', 'nao', 'sao', 'svao', 'szao', 'cao', 'uvao', 'uao',
                      'uzao', 'rayoni', 'time_to_get_metro', 'by_car', 'by_walk',
                      'area_m2', 'monolithic_apt', 'monolithic_brick_apt', 'panel_apt',
                      'stalin_apt', 'brick_apt', 'old_stock_apt', 'block_apt', 'wooden_apt',
                      'aerated_concrete_block_apt', 'shield_apt', 'apt_floor']

df[columns_to_convert] = df[columns_to_convert].astype(float)

In [33]:
df['time_to_subway'] = df.apply(
    lambda row: row['time_to_get_metro'] if row['by_car'] == 0 else row['time_to_get_metro'] * 2,
    axis=1
)

In [34]:
df.loc[:, 'post_id':'time_to_subway']

,post_id,number_of_rooms,isolated_apt,adjacent_apt,iso_adj_apt,time_to_get_metro,by_car,by_walk,area_m2,Цена,Описание,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",monolithic_apt,monolithic_brick_apt,panel_apt,stalin_apt,brick_apt,old_stock_apt,block_apt,wooden_apt,aerated_concrete_block_apt,shield_apt,apt_floor,Лифт,Мусоропровод,Ссылка на объявление,vao,zao,nao,sao,svao,szao,cao,uvao,uzao,uao,rayoni,time_to_subway
0,271271157,4.0,0.0,0.0,0.0,9.0,0.0,1.0,200.0,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0
1,271634126,4.0,0.0,0.0,0.0,8.0,0.0,1.0,198.0,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.50,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0
2,271173086,4.0,0.0,0.0,1.0,7.0,0.0,1.0,200.0,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0
3,272197456,4.0,0.0,0.0,1.0,3.0,0.0,1.0,170.0,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
4,273614615,2.0,0.0,0.0,0.0,7.0,0.0,1.0,58.0,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.90,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,215565511,1.0,0.0,0.0,0.0,8.0,0.0,1.0,35.0,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",Сдаётся светлая теплая квартира (студия) с бал...,Евроремонт,Балкон (1),NaN,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Мещерский лес,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/215565511,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
23364,274654844,1.0,0.0,0.0,0.0,7.0,0.0,1.0,38.7,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",Сдам однокомнатную квартиру на длительный срок...,Евроремонт,Лоджия (1),Во двор,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Лучи,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/274654844,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
23365,268679909,2.0,0.0,0.0,1.0,6.0,0.0,1.0,43.1,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",Рассматриваются квартиранты только славяне и т...,Дизайнерский,Балкон (1),На улицу и двор,Совмещенный (1),Можно с детьми,"Мебель на кухне, Душевая кабина, Стиральная ма...",NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,NaN,NaN,https://www.cian.ru/rent/flat/268679909,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
23366,274807525,2.0,0.0,0.0,0.0,11.0,0.0,1.0,52.5,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",Двухкомнатная уютная квартира с видом во внутр...,Евроремонт,Лоджия (1),Во двор,"Совмещенный (1), Раздельный (1)",NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,2.65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,Пасс (3),Да,https://www.cian.ru/rent/flat/274807525,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
23367,274672243,2.0,0.0,0.0,1.0,10.0,0.0,1.0,90.0,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",Сдается просторная двухкомнатная квартира ВПЕР...,Косметический,Лоджия (1),Во двор,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,Пасс (3),Да,https://www.cian.ru/rent/flat/274672243,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

Bul's part

In [35]:
temp1=df['Цена']
rent_price_curr = temp1.apply(lambda x:x.split('/')[0].split())
rent_price = rent_price_curr.apply(lambda x:x[0])
# Цена аренды

In [36]:
currency = rent_price_curr.apply(lambda x:x[1]) # Валюта аренды

In [37]:
s3=temp1.apply(lambda x:x.split('Срок аренды - '))
stay_time=s3.apply(lambda x:x[1].split(',')[0]) # Виды сроков

In [38]:
deposite = temp1.apply(lambda x:x.split('Залог - '))
test1 = deposite.apply(lambda x:len(x))
bool_series1 = test1==2

deposite[bool_series1] = deposite[bool_series1].apply(lambda x:x[1].split(',')[0].split(' '))
deposite[~bool_series1] = '00'

deposite_value = deposite.apply(lambda x:x[0]) # Все залоги, если нету = то 0 строкой
deposite_currency = deposite.apply(lambda x:x[1]) # Все валюты, если нету = то 0 строкой

In [39]:
pre_pay = temp1.apply(lambda x:x.split('Предоплата ')[-1])

pre_pay_months = pre_pay.apply(lambda x:x.split(' ')[0]) 

pre_pay_bool = pre_pay.apply(lambda x:x.split(' ')[-1])
pre_pay_bool[(pre_pay_bool=='Длительный')|(pre_pay_bool=='месяцев')]='нету'
# Предоплата либо "мес", либо нету - заменил на "нету".

pre_pay_months = pre_pay_months.astype(float)
pre_pay_months[pre_pay_months>12]=0
# Количество месяцев

In [40]:
df = df.drop(['Цена'], axis=1) # Убераем цену

In [41]:
df.insert(12,'rent_price',rent_price)
df.insert(13,'rent_currency',currency)
df.insert(14,'stay_time',stay_time)
df.insert(15,'deposite',deposite_value)
df.insert(16,'deposite_currency',deposite_currency)
df.insert(17,'is_prepay',pre_pay_bool)
df.insert(18,'prepay_months',pre_pay_months)

In [42]:
df = df.drop(['Описание'], axis=1) # Убераем описание

In [43]:
df['rent_price']=df['rent_price'].astype(float)
df['deposite']=df['deposite'].astype(float)
# Переводит числовые во float

In [44]:
df = df.drop(['is_prepay'], axis=1) # Убераем логический признак
df['prepay_months'] = df['prepay_months'].astype(int) # Теперь если 0 - то нету Предоплаты, или количество месяцев предоплаты

In [45]:
df = df.rename(columns={'Ремонт': 'renovation'}) # Переименовываем колонку

In [46]:
df['renovation']=df['renovation'].fillna('Нету') # Пропуски = "Нету"

In [47]:
df = df.rename(columns={'Балкон': 'balcony'}) # Переименовываем колонку

In [48]:
df['balcony']=df['balcony'].fillna('Балкон (0), Лоджия (0)') # Пропуски = 'Балкон (0), Лоджия (0)'

In [49]:
# Здесь начинается вторая часть Второго релиза = конвертировать цены в Доллары, кодировать строки

In [50]:
df.loc[df['renovation'] == 'Нету', 'renovation'] = 'Без ремонта' # Повторяющиеся значения "Нету" и "Без ремонта" = теперь везде "Без ремонта"

In [51]:
renovation_mapping = {
    'Евроремонт': 3,
    'Дизайнерский': 4,
    'Косметический': 2,
    'Без ремонта':1,
}

df['renovation']=df['renovation'].map(renovation_mapping) # Сделали кодировку, где 1 = самый ужасный ремонт, 4 = самый лучший

In [52]:
convert_to_usd = {'руб.':0.011, '$':1, '€':1.07} # Словарь множителей от текущей валюты в Доллары
df['rent_price']=df.apply(lambda row: row['rent_price'] * convert_to_usd[row['rent_currency']], axis=1) # Переводим все цены в Доллары
df = df.drop(['rent_currency'], axis=1) # Убераем колонку валют

In [53]:
convert_to_usd_depo = {'руб.':0.011, '$':1, '€':1.07, '0':0.0} # Словарь уже для депозитов, там их кое-где нету валюты = 0
df['deposite'] = df.apply(lambda row: row['deposite'] * convert_to_usd_depo[row['deposite_currency']], axis=1) # Переводим все депозиты в Доллары
df = df.drop(['deposite_currency'], axis=1) # Убераем колонку валют

In [54]:
df['deposite']=df.apply(lambda row: row['deposite']/row['rent_price'], axis=1) # Переводим их в процентное соотношение от цены за аренду

In [55]:
stay_time_mapping = {
    'Длительный': 2,
    'На несколько месяцев': 1
}

df['stay_time']=df['stay_time'].map(stay_time_mapping) # Сделали кодировку, где 1 = на несколько месяцев, 2 = длительный срок

In [56]:
def extract_and_sum_numbers(s):
    numbers = re.findall(r'\d+', s)
    return sum(map(int, numbers))

df['balcony']=df['balcony'].apply(extract_and_sum_numbers)
# Используя regular expression я нахожу все числа и суммирую их
# В итоге Лоджия и Балкон по весу = у меня равны, а значения = это их кол-во

In [57]:
df = df.rename(columns={'balcony': 'balcony_count'})

In [58]:
df.iloc[:,12:18].dtypes # Все мои значения

stay_time                     int64
deposite                    float64
prepay_months                 int64
Окна                         object
Санузел                      object
Можно с детьми/животными     object
dtype: object

In [59]:
df.head(5)

,post_id,number_of_rooms,isolated_apt,adjacent_apt,iso_adj_apt,time_to_get_metro,by_car,by_walk,area_m2,renovation,balcony_count,rent_price,stay_time,deposite,prepay_months,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",monolithic_apt,monolithic_brick_apt,panel_apt,stalin_apt,brick_apt,old_stock_apt,block_apt,wooden_apt,aerated_concrete_block_apt,shield_apt,apt_floor,Лифт,Мусоропровод,Ссылка на объявление,vao,zao,nao,sao,svao,szao,cao,uvao,uzao,uao,rayoni,time_to_subway
0,271271157,4.0,0.0,0.0,0.0,9.0,0.0,1.0,200.0,4,0,5500.0,2,1.0,1,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0
1,271634126,4.0,0.0,0.0,0.0,8.0,0.0,1.0,198.0,4,0,5500.0,2,1.0,1,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0
2,271173086,4.0,0.0,0.0,1.0,7.0,0.0,1.0,200.0,3,0,5500.0,2,1.0,1,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0
3,272197456,4.0,0.0,0.0,1.0,3.0,0.0,1.0,170.0,3,0,4400.0,2,1.0,1,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
4,273614615,2.0,0.0,0.0,0.0,7.0,0.0,1.0,58.0,3,0,2475.0,2,1.0,1,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0

Nastya's part

## Column "Можно с детьми/животными"

####  New column "Можно с животными"

In [60]:
df['pets_okay'] = df['Можно с детьми/животными'].apply(lambda x: 1 if isinstance(x, str) and 'Можно с животными' in x else (0 if isinstance(x, str) else np.nan))
mode_pets_okay = df['pets_okay'].mode()[0]
df['pets_okay'].fillna(mode_pets_okay, inplace=True)
print(df['pets_okay'])

0        1.0
1        0.0
2        0.0
3        1.0
4        0.0
        ...
23363    0.0
23364    0.0
23365    0.0
23366    0.0
23367    1.0
Name: pets_okay, Length: 23368, dtype: float64

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/2283144236.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pets_okay'].fillna(mode_pets_okay, inplace=True)

In [61]:
percent_counts = df['pets_okay'].value_counts(normalize=True) * 100

# Print the percentage counts
print("Percentage of each value in 'pets_okay':")
print(percent_counts)

Percentage of each value in 'pets_okay':
pets_okay
0.0    69.453954
1.0    30.546046
Name: proportion, dtype: float64

####  New column "Можно с детьми"

In [62]:
df['kids_okay'] = df['Можно с детьми/животными'].apply(lambda x: 1 if isinstance(x, str) and 'Можно с детьми' in x else (0 if isinstance(x, str) else np.nan))
mode_kids_okay = df['kids_okay'].mode()[0] # 🚧
df['kids_okay'].fillna(mode_kids_okay, inplace=True)
print(df['kids_okay'])

0        1.0
1        1.0
2        1.0
3        0.0
4        1.0
        ...
23363    1.0
23364    1.0
23365    1.0
23366    1.0
23367    1.0
Name: kids_okay, Length: 23368, dtype: float64

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/1037702761.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['kids_okay'].fillna(mode_kids_okay, inplace=True)

In [63]:
percent_counts = df['kids_okay'].value_counts(normalize=True) * 100

# Print the percentage counts
print("Percentage of each value in 'kids_okay':")
print(percent_counts)

Percentage of each value in 'kids_okay':
kids_okay
1.0    98.977234
0.0     1.022766
Name: proportion, dtype: float64

## Column "Дополнительно"
#### Create columns for potentially impactful factors: Мебель в комнатах (and count, then fill NA if needed or drop the column), Кондиционер (likewise), Посудомоечная машина (likewise)

In [64]:
def create_column(df, new_col_name, phrase):
    df[new_col_name] = df['Дополнительно'].apply(
        lambda x: 1 if isinstance(x, str) and phrase in x else (0 if isinstance(x, str) else np.nan)
    )
    # Fill NaN values with the mode
    mode_value = df[new_col_name].mode()[0]
    df[new_col_name].fillna(mode_value, inplace=True)
    return df

# Create new columns
df = create_column(df, 'furniture_in_the_room', 'Мебель в комнатах')
df = create_column(df, 'air_conditioner', 'Кондиционер')
df = create_column(df, 'dishwashing', 'Посудомоечная машина')
df = create_column(df, 'fridge', 'Холодильник')
df = create_column(df, 'internet', 'Интернет')

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/390896744.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[new_col_name].fillna(mode_value, inplace=True)
/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/390896744.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[new_col_name].fillna(mode_value, inplace=True)
/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/390896744.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[new_col_name].fillna(mode_value, inplace=True)
/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/390896744.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[new_col_name].fillna(mode_value, inplace=True)
/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/390896744.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[new_col_name].fillna(mode_value, inplace=True)

In [65]:
# Checking descriptive stats for each main feature
def calculate_percentage(df, column_name):
    percent_counts = df[column_name].value_counts(normalize=True) * 100
    print(f"Percentage of each value in '{column_name}':")
    print(percent_counts)

calculate_percentage(df, 'furniture_in_the_room')
calculate_percentage(df, 'air_conditioner')
calculate_percentage(df, 'dishwashing')
# Doing reality check - these columns should largely have 1 
calculate_percentage(df, 'fridge')
calculate_percentage(df, 'internet')


print(df[['furniture_in_the_room', 'air_conditioner', 'dishwashing', 'fridge', 'internet']])

Percentage of each value in 'furniture_in_the_room':
furniture_in_the_room
1.0    92.643786
0.0     7.356214
Name: proportion, dtype: float64
Percentage of each value in 'air_conditioner':
air_conditioner
0.0    62.358781
1.0    37.641219
Name: proportion, dtype: float64
Percentage of each value in 'dishwashing':
dishwashing
0.0    66.48836
1.0    33.51164
Name: proportion, dtype: float64
Percentage of each value in 'fridge':
fridge
1.0    88.124786
0.0    11.875214
Name: proportion, dtype: float64
Percentage of each value in 'internet':
internet
1.0    80.498973
0.0    19.501027
Name: proportion, dtype: float64
       furniture_in_the_room  air_conditioner  dishwashing  fridge  internet
0                        1.0              1.0          1.0     1.0       1.0
1                        1.0              1.0          1.0     1.0       1.0
2                        1.0              1.0          1.0     1.0       1.0
3                        1.0              1.0          1.0     1.0       1.0
4                        1.0              0.0          1.0     1.0       1.0
...                      ...              ...          ...     ...       ...
23363                    1.0              1.0          0.0     1.0       1.0
23364                    1.0              0.0          0.0     1.0       0.0
23365                    0.0              1.0          0.0     1.0       1.0
23366                    1.0              1.0          1.0     1.0       0.0
23367                    1.0              1.0          1.0     1.0       1.0

[23368 rows x 5 columns]

## Column "Окна"
#### Create column only_street_view with supposedly negative impact

In [66]:
df['only_street_view'] = df['Окна'].apply(
    lambda x: 1 if isinstance(x, str) and 'На улицу' in x else (0 if isinstance(x, str) else np.nan)
)
mode_only_street_view = df['only_street_view'].mode()[0]
df['only_street_view'].fillna(mode_only_street_view, inplace=True)
percent_counts = df['only_street_view'].value_counts(normalize=True) * 100

print("Percentage of each value in 'only_street_view':")
print(percent_counts)

Percentage of each value in 'only_street_view':
only_street_view
0.0    74.815988
1.0    25.184012
Name: proportion, dtype: float64

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/2472570807.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['only_street_view'].fillna(mode_only_street_view, inplace=True)

## Column "Высота потолков"
#### Values: transform into meters, ❗️ Remove outliers, fill NaN, consider creating ❗️ categorical levels (low, medium, high)

In [67]:
# Function to convert meters to centimeters
def convert_to_cm(value):
    try:
        value = float(value)
        if value < 10:
            return value * 100
        return value
    except ValueError:
        return np.nan


print(convert_to_cm(2.63))

263.0

In [68]:
# Apply the function to convert all values to centimeters
df['ceiling'] = df['Высота потолков, м'].apply(convert_to_cm)

print(min(df['ceiling']))

12.8

In [69]:
# Проверка
def show_unique_values(data, column_name):
    unique_values = data[column_name].dropna().unique()  # Remove NaN values before sorting
    sorted_values = sorted(unique_values, reverse=True)
    print(f"Unique values for '{column_name}' in descending order:", sorted_values)

show_unique_values(df, 'ceiling')

Unique values for 'ceiling' in descending order: [np.float64(900.0), np.float64(600.0), np.float64(580.0), np.float64(550.0), np.float64(509.99999999999994), np.float64(500.0), np.float64(470.0), np.float64(459.99999999999994), np.float64(450.0), np.float64(420.0), np.float64(415.00000000000006), np.float64(409.99999999999994), np.float64(405.0), np.float64(400.0), np.float64(392.0), np.float64(390.0), np.float64(380.0), np.float64(370.0), np.float64(360.0), np.float64(356.0), np.float64(355.0), np.float64(350.0), np.float64(341.0), np.float64(340.0), np.float64(335.0), np.float64(330.0), np.float64(325.0), np.float64(324.0), np.float64(321.0), np.float64(320.0), np.float64(315.0), np.float64(311.0), np.float64(310.0), np.float64(308.0), np.float64(307.0), np.float64(305.0), np.float64(302.0), np.float64(300.0), np.float64(299.0), np.float64(297.0), np.float64(295.0), np.float64(294.0), np.float64(293.0), np.float64(290.0), np.float64(288.0), np.float64(287.0), np.float64(286.0), np.float64(285.0), np.float64(284.0), np.float64(281.0), np.float64(280.0), np.float64(278.0), np.float64(277.0), np.float64(276.0), np.float64(275.0), np.float64(274.0), np.float64(273.0), np.float64(272.0), np.float64(270.0), np.float64(268.0), np.float64(267.0), np.float64(266.0), np.float64(265.0), np.float64(264.0), np.float64(263.0), np.float64(262.0), np.float64(260.0), np.float64(258.0), np.float64(257.0), np.float64(256.0), np.float64(254.99999999999997), np.float64(254.0), np.float64(252.0), np.float64(250.99999999999997), np.float64(250.0), np.float64(248.0), np.float64(245.00000000000003), np.float64(243.00000000000003), np.float64(240.0), np.float64(229.99999999999997), np.float64(220.00000000000003), np.float64(210.0), np.float64(200.0), np.float64(120.0), np.float64(28.0), np.float64(27.0), np.float64(26.0), np.float64(25.0), np.float64(12.8)]

### Outliers

In [70]:
# Calculate IQR for "ceiling"
Q1 = df['ceiling'].quantile(0.25)
Q3 = df['ceiling'].quantile(0.95)
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"Lower bound for outliers: {lower_bound}")
print(f"Upper bound for outliers: {upper_bound}")

Lower bound for outliers: 180.0
Upper bound for outliers: 404.0

In [71]:
# Identify outliers
outliers = (df['ceiling'] < lower_bound) | (df['ceiling'] > upper_bound)
print(f"Number of outliers: {outliers.sum()}")

# Calculate and print the median value for verification
median_height = df.loc[~outliers, 'ceiling'].median() #🚧 tilda for substraction
print(f"Calculated median height: {median_height}")

# Replace outliers and NaNs with the median value
df.loc[outliers, 'ceiling'] = median_height #🚧 
df['ceiling'].fillna(median_height, inplace=True)

Number of outliers: 60
Calculated median height: 264.0

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/3211942022.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ceiling'].fillna(median_height, inplace=True)

In [72]:

print(df['ceiling'].describe())

nan_count_after = df['ceiling'].isna().sum()
print(f"Number of NaN values in the 'ceiling' column after replacement: {nan_count_after}")

count    23368.000000
mean       269.332634
std         17.199493
min        200.000000
25%        264.000000
50%        264.000000
75%        264.000000
max        400.000000
Name: ceiling, dtype: float64
Number of NaN values in the 'ceiling' column after replacement: 0

### Transform into ordinal

In [73]:
# Define thresholds for categorizing ceiling heights (in centimeters) based on distribution and human comfort
low_ceiling_threshold = 259  # Uncomfortably low ceilings
high_ceiling_threshold = 300  # Spaciously high ceilings

# Print the percentage of values below the low threshold and above the high threshold
low_percentage = (df['ceiling'] < low_ceiling_threshold).mean() * 100
high_percentage = (df['ceiling'] > high_ceiling_threshold).mean() * 100
print(f"Percentage of uncomfortably low ceilings: {low_percentage}%")
print(f"Percentage of spaciously high ceilings: {high_percentage}%")

Percentage of uncomfortably low ceilings: 5.263608353303663%
Percentage of spaciously high ceilings: 4.732968161588498%

In [74]:
# Categorize ceiling heights
def categorize_ceiling(height):
    if height < low_ceiling_threshold:
        return 1  # Uncomfortably low
    elif height <= high_ceiling_threshold:
        return 2  # Medium
    else:
        return 3  # Spaciously high

# Apply the categorization
df['ceiling_ranking'] = df['ceiling'].apply(categorize_ceiling).astype(int)

# Display the distribution of the new categories
ceiling_category_distribution = df['ceiling_ranking'].value_counts()
print("Ceiling ranking distribution:")
print(ceiling_category_distribution)

Ceiling ranking distribution:
ceiling_ranking
2    21032
1     1230
3     1106
Name: count, dtype: int64

## Column "Санузел"
#### Values: need to make them numerical and categorical ("total number", "only совмещенный"), then fill NaN.

In [75]:
freq_table = df['Санузел'].value_counts(dropna=False).sort_values(ascending=False)

# Print the frequency table
print(freq_table)

Санузел
Совмещенный (1)                    10078
Раздельный (1)                      7158
NaN                                 2672
Совмещенный (2)                     1437
Совмещенный (1), Раздельный (1)      812
Раздельный (2)                       534
Совмещенный (3)                      241
Совмещенный (2), Раздельный (1)      188
Совмещенный (4)                       77
Раздельный (3)                        52
Совмещенный (1), Раздельный (2)       30
Совмещенный (3), Раздельный (1)       27
Совмещенный (2), Раздельный (2)       25
Раздельный (4)                        15
Совмещенный (3), Раздельный (3)        6
Совмещенный (4), Раздельный (1)        6
Совмещенный (4), Раздельный (2)        4
Совмещенный (1), Раздельный (3)        2
Совмещенный (2), Раздельный (3)        2
Совмещенный (2), Раздельный (4)        1
Совмещенный (3), Раздельный (2)        1
Name: count, dtype: int64

In [76]:
# Fill NaN values with the mode
mode_value = df['Санузел'].mode()[0]
df['Санузел'].fillna(mode_value, inplace=True)

/var/folders/db/69n9mbnx1hn26gcpf46v9d8h0000gn/T/ipykernel_89524/1485932565.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Санузел'].fillna(mode_value, inplace=True)

In [77]:
print(df['Санузел'].describe)

<bound method NDFrame.describe of 0                        Совмещенный (1)
1        Совмещенный (2), Раздельный (1)
2                        Совмещенный (3)
3                        Совмещенный (3)
4                        Совмещенный (2)
                      ...
23363                    Совмещенный (1)
23364                    Совмещенный (1)
23365                    Совмещенный (1)
23366    Совмещенный (1), Раздельный (1)
23367                     Раздельный (1)
Name: Санузел, Length: 23368, dtype: object>

In [78]:
# Create "one_merged_bathroom_only" column
df['one_merged_bathroom_only'] = df['Санузел'].apply(lambda x: 1 if x == 'Совмещенный (1)' else 0)

relative_frequency = df['one_merged_bathroom_only'].value_counts(normalize=True) * 100
print("Relative frequency of values in 'one_merged_bathroom_only':")
print(relative_frequency)

Relative frequency of values in 'one_merged_bathroom_only':
one_merged_bathroom_only
1    54.561794
0    45.438206
Name: proportion, dtype: float64

In [79]:
# Function to calculate the total number of bathrooms
def calculate_total_bathrooms(value):
    if pd.isna(value):
        return 0
    total = 0
    parts = value.split(', ')
    for part in parts:
        number = int(part.split('(')[1].strip(')')) #🚧
        total += number
    return total

# Create "many_bathrooms" column
df['many_bathrooms'] = df['Санузел'].apply(lambda x: 1 if calculate_total_bathrooms(x) > 2 else 0)

# Print the DataFrame to verify the changes
print(df[['Санузел', 'one_merged_bathroom_only', 'many_bathrooms']])

                               Санузел  one_merged_bathroom_only  \
0                      Совмещенный (1)                         1
1      Совмещенный (2), Раздельный (1)                         0
2                      Совмещенный (3)                         0
3                      Совмещенный (3)                         0
4                      Совмещенный (2)                         0
...                                ...                       ...
23363                  Совмещенный (1)                         1
23364                  Совмещенный (1)                         1
23365                  Совмещенный (1)                         1
23366  Совмещенный (1), Раздельный (1)                         0
23367                   Раздельный (1)                         0

       many_bathrooms
0                   0
1                   1
2                   1
3                   1
4                   0
...               ...
23363               0
23364               0
23365               0
23366               0
23367               0

[23368 rows x 3 columns]

## Column "Лифт"
#### Create columns: "has_elevator", "has_cargo_elevator"

In [80]:
# Step 1: Create the `no_elevators` column
df['no_elevators'] = df['Лифт'].isna().astype(int)

# Step 2: Create the `has_cargo_elevator` column
df['has_cargo_elevator'] = df['Лифт'].apply(lambda x: 1 if isinstance(x, str) and 'Груз' in x else 0)

# Print the DataFrame to verify the changes
print(df[['Лифт', 'no_elevators', 'has_cargo_elevator']])

# Print the relative frequency of values
print("Relative frequency of 'no_elevators':")
print(df['no_elevators'].value_counts(normalize=True) * 100)

print("Relative frequency of 'has_cargo_elevator':")
print(df['has_cargo_elevator'].value_counts(normalize=True) * 100)

                     Лифт  no_elevators  has_cargo_elevator
0      Пасс (4), Груз (1)             0                   1
1      Пасс (1), Груз (1)             0                   1
2                Пасс (1)             0                   0
3                Пасс (1)             0                   0
4      Пасс (1), Груз (1)             0                   1
...                   ...           ...                 ...
23363  Пасс (1), Груз (1)             0                   1
23364  Пасс (1), Груз (1)             0                   1
23365                 NaN             1                   0
23366            Пасс (3)             0                   0
23367            Пасс (3)             0                   0

[23368 rows x 3 columns]
Relative frequency of 'no_elevators':
no_elevators
0    76.46354
1    23.53646
Name: proportion, dtype: float64
Relative frequency of 'has_cargo_elevator':
has_cargo_elevator
0    71.597912
1    28.402088
Name: proportion, dtype: float64

## Column "Мусоропровод"
##### fill NaN with moda

In [81]:
def show_unique_values(data, column_name):
    unique_values = data[column_name].dropna().unique()  # Remove NaN values before sorting
    sorted_values = sorted(unique_values, reverse=True)
    print(f"Unique values for '{column_name}' in descending order:", sorted_values)

# for 'Мусоропровод'
show_unique_values(df, 'Мусоропровод')

Unique values for 'Мусоропровод' in descending order: ['Нет', 'Да']

In [82]:
# 🚧 does not work for some reason, timebox for investigation is over
# #fillNa
# mode_garbage = df['Мусоропровод'].mode()
# print(mode_garbage)
# df['Мусоропровод'].fillna(mode_garbage, inplace=True)

# # df['garbage'] = df['Мусоропровод'].map({'Да': 1, 'Нет': 0})



# # # Step 4: Ensure the column type is integer
# # df['garbage'] = df['garbage'].astype(int)

# # # # Step 5: Tests
# # # relative_frequency = df['garbage'].value_counts(normalize=True) * 100
# # # print("Relative frequency of values in 'garbage':")
# # # print(relative_frequency)
# print(df['Мусоропровод'].describe())

In [83]:
print(df.dtypes)

post_id                       int64
number_of_rooms             float64
isolated_apt                float64
adjacent_apt                float64
iso_adj_apt                 float64
                             ...
ceiling_ranking               int64
one_merged_bathroom_only      int64
many_bathrooms                int64
no_elevators                  int64
has_cargo_elevator            int64
Length: 62, dtype: object

In [84]:
#Getting rid of columns 
df = df.drop(['Окна'], axis=1)
df = df.drop(['Можно с детьми/животными'], axis=1)
df = df.drop(['Дополнительно'], axis=1)
df = df.drop(['Название ЖК'], axis=1)
df = df.drop(['Серия дома'], axis=1)
df = df.drop(['Ссылка на объявление'], axis=1)
df = df.drop(['ceiling'], axis=1)
df = df.drop(['internet'], axis=1)
df = df.drop(['fridge'], axis=1)
df = df.drop(['Санузел'], axis=1)
df = df.drop(['Высота потолков, м'], axis=1)
df = df.drop(['Лифт'], axis=1)
df = df.drop(['Мусоропровод'], axis=1)
df = df.drop(['time_to_get_metro'], axis=1)
df = df.drop(['by_car'], axis=1)
df = df.drop(['by_walk'], axis=1)

In [85]:
df.head(5)

,post_id,number_of_rooms,isolated_apt,adjacent_apt,iso_adj_apt,area_m2,renovation,balcony_count,rent_price,stay_time,deposite,prepay_months,monolithic_apt,monolithic_brick_apt,panel_apt,stalin_apt,brick_apt,old_stock_apt,block_apt,wooden_apt,aerated_concrete_block_apt,shield_apt,apt_floor,vao,zao,nao,sao,svao,szao,cao,uvao,uzao,uao,rayoni,time_to_subway,pets_okay,kids_okay,furniture_in_the_room,air_conditioner,dishwashing,only_street_view,ceiling_ranking,one_merged_bathroom_only,many_bathrooms,no_elevators,has_cargo_elevator
0,271271157,4.0,0.0,0.0,0.0,200.0,4,0,5500.0,2,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0,1.0,1.0,1.0,1.0,1.0,0.0,2,1,0,0,1
1,271634126,4.0,0.0,0.0,0.0,198.0,4,0,5500.0,2,1.0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0,0.0,1.0,1.0,1.0,1.0,1.0,3,0,1,0,1
2,271173086,4.0,0.0,0.0,1.0,200.0,3,0,5500.0,2,1.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,1.0,1.0,1.0,1.0,3,0,1,0,0
3,272197456,4.0,0.0,0.0,1.0,170.0,3,0,4400.0,2,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,1.0,1.0,1.0,1.0,3,0,1,0,0
4,273614615,2.0,0.0,0.0,0.0,58.0,3,0,2475.0,2,1.0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,1.0,0.0,1.0,1.0,3,0,0,0,1

In [86]:
print(df.describe(include='all'))

            post_id  number_of_rooms  isolated_apt  adjacent_apt  \
count  2.336800e+04     23368.000000  23368.000000  23368.000000
mean   2.676265e+08         1.968718      0.278201      0.031924
std    1.876862e+07         1.000153      0.448123      0.175802
min    1.072986e+08         1.000000      0.000000      0.000000
25%    2.712663e+08         1.000000      0.000000      0.000000
50%    2.739030e+08         2.000000      0.000000      0.000000
75%    2.746872e+08         3.000000      1.000000      0.000000
max    2.750064e+08         6.000000      1.000000      1.000000

        iso_adj_apt       area_m2    renovation  balcony_count    rent_price  \
count  23368.000000  23368.000000  23368.000000   23368.000000  23368.000000
mean       0.079553     62.819425      2.534620       0.753423    924.088734
std        0.270606     46.699425      0.892473       0.636248   1410.673243
min        0.000000      7.000000      1.000000       0.000000    110.000000
25%        0.000000     38.000000      2.000000       0.000000    407.000000
50%        0.000000     48.000000      3.000000       1.000000    549.989000
75%        0.000000     70.000000      3.000000       1.000000    825.000000
max        1.000000    811.000000      4.000000       8.000000  33000.000000

         stay_time       deposite  prepay_months  monolithic_apt  \
count  23368.00000   23368.000000   23368.000000    23368.000000
mean       1.95451       9.409625       0.990200        0.192186
std        0.20838    1279.561245       0.264338        0.394027
min        1.00000       0.000000       0.000000        0.000000
25%        2.00000       1.000000       1.000000        0.000000
50%        2.00000       1.000000       1.000000        0.000000
75%        2.00000       1.000000       1.000000        0.000000
max        2.00000  195595.580840      12.000000        1.000000

       monolithic_brick_apt     panel_apt    stalin_apt     brick_apt  \
count          23368.000000  23368.000000  23368.000000  23368.000000
mean               0.058413      0.306488      0.006119      0.190731
std                0.234528      0.461044      0.077989      0.392886
min                0.000000      0.000000      0.000000      0.000000
25%                0.000000      0.000000      0.000000      0.000000
50%                0.000000      0.000000      0.000000      0.000000
75%                0.000000      1.000000      0.000000      0.000000
max                1.000000      1.000000      1.000000      1.000000

       old_stock_apt     block_apt    wooden_apt  aerated_concrete_block_apt  \
count   23368.000000  23368.000000  23368.000000                23368.000000
mean        0.002996      0.073648      0.000342                    0.000086
std         0.054651      0.261202      0.018500                    0.009251
min         0.000000      0.000000      0.000000                    0.000000
25%         0.000000      0.000000      0.000000                    0.000000
50%         0.000000      0.000000      0.000000                    0.000000
75%         0.000000      0.000000      0.000000                    0.000000
max         1.000000      1.000000      1.000000                    1.000000

         shield_apt     apt_floor           vao           zao           nao  \
count  23368.000000  23368.000000  23368.000000  23368.000000  23368.000000
mean       0.000043      7.356128      0.070738      0.072193      0.004664
std        0.006542      5.845152      0.256392      0.258812      0.068139
min        0.000000     -1.000000      0.000000      0.000000      0.000000
25%        0.000000      3.000000      0.000000      0.000000      0.000000
50%        0.000000      6.000000      0.000000      0.000000      0.000000
75%        0.000000     10.000000      0.000000      0.000000      0.000000
max        1.000000     85.000000      1.000000      1.000000      1.000000

                sao          svao          szao           cao          uvao  \
count  23368.000000  23368.000000  23368.000000  23368.000000  23368.000000
mean       0.091921      0.083918      0.039584      0.090637      0.079382
std        0.288920      0.277271      0.194984      0.287098      0.270340
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

               uzao           uao        rayoni  time_to_subway     pets_okay  \
count  23368.000000  23368.000000  23368.000000    23368.000000  23368.000000
mean       0.109979      0.091535      0.003851       11.039284      0.305460
std        0.312871      0.288375      0.061942        8.152734      0.460612
min        0.000000      0.000000      0.000000        0.000000      0.000000
25%        0.000000      0.000000      0.000000        6.000000      0.000000
50%        0.000000      0.000000      0.000000       10.000000      0.000000
75%        0.000000      0.000000      0.000000       14.000000      1.000000
max        1.000000      1.000000      1.000000      142.000000      1.000000

          kids_okay  furniture_in_the_room  air_conditioner   dishwashing  \
count  23368.000000           23368.000000     23368.000000  23368.000000
mean       0.989772               0.926438         0.376412      0.335116
std        0.100616               0.261063         0.484496      0.472041
min        0.000000               0.000000         0.000000      0.000000
25%        1.000000               1.000000         0.000000      0.000000
50%        1.000000               1.000000         0.000000      0.000000
75%        1.000000               1.000000         1.000000      1.000000
max        1.000000               1.000000         1.000000      1.000000

       only_street_view  ceiling_ranking  one_merged_bathroom_only  \
count      23368.000000     23368.000000              23368.000000
mean           0.251840         1.994694                  0.545618
std            0.434079         0.316136                  0.497925
min            0.000000         1.000000                  0.000000
25%            0.000000         2.000000                  0.000000
50%            0.000000         2.000000                  1.000000
75%            1.000000         2.000000                  1.000000
max            1.000000         3.000000                  1.000000

       many_bathrooms  no_elevators  has_cargo_elevator
count    23368.000000  23368.000000        23368.000000
mean         0.028971      0.235365            0.284021
std          0.167729      0.424236            0.450956
min          0.000000      0.000000            0.000000
25%          0.000000      0.000000            0.000000
50%          0.000000      0.000000            0.000000
75%          0.000000      0.000000            1.000000
max          1.000000      1.000000            1.000000

In [87]:
#Deleting rows which are not in Moscow
df = df.drop(index=indexes_not_moscow_list)
df = df.reset_index(drop=True)

In [88]:
#Saving dataframe to CSV file
df.to_csv('../data/data.csv')